body {
    font-family: Arial;
    background: #eef1f5;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.grafico-box {
    width: 450px;
}

input {
    width: 95%;
    padding: 7px;
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #7de31e;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #8e9c14;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

table {
    width: 90%;
    margin: 20px auto;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background: #1e6ee3;
    color: white;
}

.evento-texto {
    font-size: 14px;
    margin-top: 10px;
    background: #fff5d4;
    padding: 10px;
    border-radius: 8px;
}
